<div class="row text-center justify-content-center py-1 border-bottom bg-light">
  <h1 class="header-text">Ye Ole Burger Shoppe</h1>
</div>

<div class="row">
  <div class="col-lg-4 col-12 order-lg-first my-3">
    <div class="card">
      <div class="card-header text-center">
        <h3>Click One To Eat It!</h3>
      </div>
      <div class="card-body text-center">
        {{#unless uneatenBurgers}}
        <h3>No Burgers Available!</h3>
        {{/unless}}
        {{#each uneatenBurgers}}
        <button class="btn btn-block btn-light eat-burger-btn border rounded" id={{id}}><h4>{{burger_name}} by {{creator_name}}</h4></button>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12 order-first my-3">
    <form class="mt-5 text-center" id="burger-form">
        <h3>Make a burger!</h3>
        <div class="form-group">
          <label for="customerNameInput">Your Name</label>
          <input type="text-align: center" type="text" class="form-control" name="customerName" id="customerNameInput" maxLength=25>
        </div>
        <div class="form-group">
          <label>Your Burger</label>
          <input style="text-align: center" type="text" class="form-control" name="burgerName" id="burgerInput" maxLength="25" required></input>
        </div>
        <button type="submit" class="btn btn-danger m-3"><i class="fas fa-fire"></i></i> Cook It <i class="fas fa-fire"></i></button>
    </form>
  </div>
  <div class="col-lg-4 col-12 my-3">
    <div class="card">
      <div class="card-header text-center">
        <h3>Eaten Burgers</h3>
      </div>
      <div class="card-body text-center">
          {{#unless eatenBurgers}}
          <h3>No one has ate yet!</h3>
          {{/unless}}        
          {{#each eatenBurgers}}
          <h4 class="border rounded">{{burger_name}} by {{creator_name}}</h4>
          {{/each}}
      </div>  
    </div>
  </div>
</div>

